<!-- app/views/products/new.html.erb -->

<%= form_with(model: @product, local: true) do |form| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>
      <ul>
        <% @product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price, step: :any %>
  </div>

  <div class="field">
    <%= form.label :category_id, 'Category' %>
    <%= form.collection_select :category_id, @categories, :id, :name, prompt: true %>
  </div>

  <div class="field">
  <%= form.hidden_field :user_id, value: current_user.id  %>
  </div>

  <h3>Or create a new category</h3>

  <li><%= link_to 'Add Category', new_category_path%></li>
  <!--
  <%= form.fields_for :category do |category_form| %>
    <div class="field">
      <%= category_form.label :name %>
      <%= category_form.text_field :name %>
    </div>
  <% end %>
  -->

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>





