<div class="page">
<h1 class="hero-title">
  Welcome to the
  <span class="shop-name">Boring Shop</span>
</h1>
<% @categories.each do |category| %>
  <% next if category.products.empty? %>
  <h2 class="category-title"><%= category.name %></h2>
  <% category.products.each do |product| %>
    <div class="product-card">
      <div class="product-panel">
        <% if product.images.attached? %>
          <%= image_tag product.images[0], class: "product-image" %>
        <%end%>
        <h3><%= link_to product_path(product), class: "product-name" do %>
          <span class="product-link"></span>
          <%= product.name %>
        <% end %></h3>
        <div class="product-category-price-layout">
          <p class="product-price product-price-index">Price: <%= number_to_currency(product.price) %></p>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
</div
