<h1><%= @product.name %></h1>
<p><%= @product.description %></p>
<p>Price: <%= number_to_currency(@product.price) %></p>

<h2>Reviews</h2>
<% @reviews.each do |review| %>
  <p><%= review.content %> - <%= review.rating %>/5</p>
  <p>Reviewed by: <%= link_to review.profile.user.email, profile_path(review.profile) %></p>
<% end %>

<%= form_with model: [ @product, @product.reviews.build ] do |f| %>
  <p>
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </p>
  <p>
    <%= f.label :rating %><br>
    <%= f.number_field :rating, min: 1, max: 5 %>
  </p>
  <%= f.submit 'Submit Review' %>
<% end %>
