<%= form_with(model: [product, review]) do |form| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2 class="login-heading"><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>
      <ul>
        <% review.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_area :content, placeholder: "Review Content", class: "input-field" %>
  </div>

  <div class="field">
    <%= form.number_field :rating, placeholder: "Rating", class: "input-field" %>
  </div>

  <div class="actions">
    <%= form.submit "Submit Review", class: "login-button" %>
  </div>
<% end %>
